<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='sessoes.css') }}">
    <title>Document</title>
</head>
    <body>
        <form method="post">
            <div class="part2">
                <h2 class="title">
                Seção 2 - Sensibilidade
                </h2>
                <p>Pele Sensível (S) x Resistente (R)</p>

                <!-- Questao 1-->
                <h3 class="question">
                    1. Produtos para cuidado com a pele (incluindo sabonetes comuns, hidratantes, tônicos, protetor solar e maquiagem) causam irritação, coceira, vermelhidão, ardência ou “alergia” em sua pele?
                </h3>

                <div class="radio">
                    <input type="radio" id="IDS2R1" name="S2R1" value="a">
                    <label for="IDS2R1">A. Nunca aconteceu.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R2" name="S2R1" value="b">
                    <label for="IDS2R2">B. É muito raro!</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R3" name="S2R1" value="c">
                    <label for="IDS2R3">C. Acontece com alguma frequência OU Não sei, pois nunca uso nada disso.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R4" name="S2R1" value="d">
                    <label for="IDS2R4">D. Sempre acontece ou geralmente nem testo, porque sei que vou ter problemas, já tive muitas vezes.</label>
                </div>

                <!-- Questao 2-->
                <h3 class="question">
                    2. Nas últimas 4 semanas, você apresentou alguma dessas questões na pele: espinha ou "bolinhas" inflamadas, ardência, irritação, vermelhidão, inchaço no rosto, pele quente ou coçando?
                </h3>
                <div class="radio">
                    <input type="radio" id="IDS2R5" name="S2R2" value="a">
                    <label for="IDS2R5">A. Não tive nenhum desses.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R6" name="S2R2" value="b">
                    <label for="IDS2R6">B. Tive apenas um desses uma única vez.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R7" name="S2R2" value="c">
                    <label for="IDS2R7">C. Tive alguns desses algumas vezes.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R8" name="S2R2" value="d">
                    <label for="IDS2R8">D. Tive quase todos esses várias vezes!.</label>
                </div>

                <!-- Questao 3-->
                <h3 class="question">
                    3. Você tem ou já teve diagnóstico de acne, rosácea, eczema ou dermatite atópica (inflamação ou erupções na pele) ou dermatite de contato (alergia por uso de bijuterias por exemplo)?
                </h3>
                <div class="radio">
                    <input type="radio" id="IDS2R9" name="S2R3" value="a">
                    <label for="IDS2R9">A. Nunca tive nenhum desses.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R10" name="S2R3" value="b">
                    <label for="IDS2R10">B. Tive apenas um desses OU Não sei dizer.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R11" name="S2R3" value="c">
                    <label for="IDS1R11">C. Já tive 2 desses diagnósticos.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS1R12" name="S2R3" value="d">
                    <label for="IDS2R12">D. Tive 3 ou mais desses diagnósticos.</label>
                </div>

                <!-- Questao 4-->
                <h3 class="question">
                    4. Você apresenta pápulas ("bolinhas") vermelhas na pele, ou as pessoas dizem que seu rosto está sempre vermelho, mesmo sem pegar sol? Sua pele fica vermelha após exercícios físicos, uso de álcool, bebidas quentes, banho quente, ou alimentos apimentados?
                </h3>
                <div class="radio">
                    <input type="radio" id="IDS2R13" name="S2R4" value="a">
                    <label for="IDS2R13">A. Nunca.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R14" name="S2R4" value="b">
                    <label for="IDS2R14">B. Já aconteceu uma vez OU Não sei dizer.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R15" name="S2R4" value="c">
                    <label for="IDS2R15">C. Sim, isso acontece e algumas vezes.</label>
                </div>
                <div class="radio">
                    <input type="radio" id="IDS2R16" name="S2R4" value="d">
                    <label for="IDS2R16">D. Isso acontece com bastante frequência!</label>
                </div>


            </div>
        <button type="submit">Enviar</button>
        </form>
    </body>
</html>
