<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='sessoes.css') }}">
    <title>Document</title>
</head>
<body>
    
    <form method="post">
        <div class="part3">
            <h2 class="title">
                Seção 3 - Pigmentação
            </h2>
            <p>Pele Pigmentada (P) x Não-Pigmentada (N)</p>

            <!-- Questao 1-->
            <h3 class="question">
                1. Se tiver uma pápula (“bolinha vermelha”), uma “espinha” um pelo encravado, ou mesmo um corte ou ferimento, no local fica uma mancha castanha ou um ponto mais escuro (NÃO é uma mancha avermelhada, é bem mais marrom escura mesmo)?
            </h3>
            <div class="radio">
                <input type="radio" id="IDS3R1" name="S3R1" value="a">
                <label for="IDS3R1">A. Nunca.</label>
            </div>

            <div class="radio">
                <input type="radio" id="IDS3R2" name="S3R1" value="b">
                <label for="IDS3R2">B. Raramente OU Não sei dizer.</label>
            </div>

            <div class="radio">
                <input type="radio" id="IDS3R3" name="S3R1" value="c">
                <label for="IDS3R3">C. Com alguma frequência.</label>
            </div>

            <div class="radio">
                <input type="radio" id="IDS3R4" name="S3R1" value="d">
                <label for="IDS3R4">D. Sempre.</label>
            </div>

            <!-- Questao 2-->
            <h3 class="question">
                2. Quando a sua pele é exposta ao sol o que acontece? (Se estiver há muitos anos sem tomar sol; tente lembrar como reagia sua pele na infância).
            </h3>
            <div class="radio">
                <input type="radio" id="IDS3R5" name="S3R2" value="a">
                <label for="IDS3R5">A. Ela fica vermelha, não bronzeia nada ou quase nada.</label>
            </div>
            <div class="radio">
                <input type="radio" id="IDS3R6" name="S3R2" value="b">
                <label for="IDS3R6">B. Fica vermelha, depois até fica bem levemente bronzeada.</label>
            </div>

            <div class="radio">
                <input type="radio" id="IDS3R7" name="S3R2" value="c">
                <label for="IDS3R7">C. Fica mais bronzeada ou morena.</label>
            </div>

            <div class="radio">
                <input type="radio" id="IDS3R8" name="S3R2" value="d">
                <label for="IDS3R8">D. A minha pele é negra ou muito morena, por isso é até difícil avaliar se ela fica mais escura.</label>
            </div>

            <!-- Questao 3-->
            <h3 class="question">
                3. Você tem ou ja teve diagnóstico de melasma, tem algum tipo de mancha escura no buço (pele sobre o lábio superior), bochechas abaixo dos olhos ou testa ou teve manchas escuras quando engravidou ou tomou anticoncepcional?
            </h3>
            <div class="radio">
                <input type="radio" id="IDS3R9" name="S3R3" value="a">
                <label for="IDS3R9">A. Nunca tive.</label>
            </div>
            
            <div class="radio">
                <input type="radio" id="IDS3R10" name="S3R3" value="b">
                <label for="IDS3R10">B. Acho que já tive, mas saiu sozinha OU Nunca percebi./label>
            </div>

            <div class="radio">
                <input type="radio" id="IDS3R11" name="S3R3" value="c">
                <label for="IDS3R11">C. Sim, já tive e acontece com alguma frequência (mesmo que trate e melhore, depois volta).</label>
            </div>

            <div class="radio">
                <input type="radio" id="IDS3R12" name="S3R3" value="d">
                <label for="IDS3R12">D. Tenho muitas manchas que acabam piorando, não aguento mais!</label>
            </div>

            <!-- Questao 4-->
            <h3 class="question">
                4. A pigmentação da sua pele é irregular e você tem manchas escuras que pioram quando pega sol ou calor? O quanto isso te incomoda?
            </h3>
            <div class="radio">
                <input type="radio" id="IDS3R13" name="S3R4" value="a">
                <label for="IDS3R13">A. Minha pigmentação é uniforme e eu não tenho nenhuma área escura que me incomoda.</label>
            </div>
            <div class="radio">
                <input type="radio" id="IDS3R14" name="S3R4" value="b">
                <label for="IDS3R14">B. Eu tenho sardinhas ou manchinhas escuras, mas não pioram e não me incomodam.</label>
            </div>
            <div class="radio">
                <input type="radio" id="IDS3R15" name="S3R4" value="c">
                <label for="IDS3R15">C. A pigmentação da minha pele é irregular, às vezes piora e me incomoda um pouco.</label>
            </div>
            <div class="radio">
                <input type="radio" id="IDS3R16" name="S3R4" value="d">
                <label for="IDS3R16">D. Tenho muitas manchas, pigmentação irregular que piora e me incomoda bastante!</label>
            </div>

        </div>
    <button type="submit">Enviar</button>
    </form>

</body>
</html>
