body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #FFFDD0;
  font-family: 'Roboto', sans-serif;
}

/* parte login cadastro*/
.login-container {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 360px;
  text-align: center;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

input:focus {
  background-color: #fff;
  box-shadow: 0 0 0 3px #FFFDD0;
  outline: none;
}

.botao-bonito {
  background-color: #d8d373;  
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao-bonito:hover {
  background-color: #dad134;    
  transform: scale(1.02);      
}

.botao-bonito:active {
  transform: scale(0.98);
}

.link-bonito {
  display: inline-block;
  color: #d8d373;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.2s ease;
  margin-top: 15px;
}

.link-bonito:hover {
  color: #dad134;
  transform: translateY(-2px);
  text-decoration: underline;
}

/*Parte formulario */
.title{
  width: 50%;
  background: #d8d373;
  margin: 20px;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 30px;   
  text-align: center;  
  margin-left: 475px;
  padding: 20px; 
}

.sub-title {
  width: 18%;
  background: #d8d373;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 15px;   
  font-weight: bold;
  text-align: center;  
  margin-left: 775px;
  padding: 14px; 
}

.box {
  width: 50%;
  background: white;
  margin: 20px;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 20px;   
  margin-left: 475px;
  padding: 20px; 
}

.box::before {
  content: "";
  position: absolute;
  width: 47%;
  height: 6px;
  background-color: #d8d373;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.botao-estiloso {
  background-color: #d8d373;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-left: 475px;
}

.botao-estiloso:hover {
  background-color: #dad134;    
  transform: scale(1.02);      
}

.botao-estiloso:active {
  transform: scale(0.98);
}