<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="desing.css">
    <title>Login</title>
</head>
  <body>
    <div class="login-container">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Logo" width="100" height="100">
    <h2>Login</h2>
    <form method="post">
      Email: <input type="email" name="email"><br>
      Senha: <input type="password" name="senha"><br>
      <button class="botao-bonito" type="submit">Entrar</button>
    </form> 
    <a class="link-bonito" href="/register">Criar conta</a>
    </div>
  </body>
</html>
